<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/js/echarts.min.js"></script>
</head>
<script>

    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
        //…
    });
    $(function () {
        $(".hideTs").click(function () {

            if($("#rinfo").css("display")=='none')
            {
                $("#rinfo").fadeIn();
                $("#main").removeClass("layui-col-md12").addClass("layui-col-md8")
                $("#other").addClass("layui-col-md4")
            }else{
                $("#rinfo").fadeOut();

                $("#main").removeClass("layui-col-md8").addClass("layui-col-md12")
                $("#other").removeClass("layui-col-md4")
            }

        })
    })

   </script>

<script>


    $(function () {
        $.post("queryStruts",function (data) {
        var myChart = echarts.init(document.getElementById('peozt'));
        option = {
            backgroundColor: '#2c343c',
            title: {
                text: '矫正人员状态统计',
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#ccc'
                }
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            visualMap: {
                show: false,
                min: 0,
                max: 20,
                inRange: {
                    colorLightness: [0, 1]
                }
            },
            series : [
                {
                    name:'统计信息',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:data
                    .sort(function (a, b) { return a.value - b.value; }),
                    roseType: 'radius',
                    label: {
                        normal: {
                            textStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },

                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };
        myChart.setOption(option);
    })
    })
</script>


<style type="text/css">




    #rinfo{
        position: absolute;
        right:-110px;
        top:-10px;

    }

    .info1{
        width: 270px;
        float: left;
        height: 120px;
    }
    .info2{
        width: 270px;
        float: left;
        height: 120px;
    }


#hideTs{
    font-size: 40px;
    background: #666;

}

    .bg{

        border:1px solid #ccc;
        width:230px;
        height:200px;
        background: content-box;
        margin-right:20px;
        margin-top:30px;
        text-align: center;
        color: #999;
    }
    .rname{
        padding-left: 80px;
    }
</style>



<body>

<div class="layui-table-tool">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-primary layui-btn-sm" >添加档案</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" >查看档案</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" >心理测试</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" >风险评估</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" >实时监控</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm" >考核信息</button>
            <button class="layui-btn layui-btn-primary layui-btn-sm hideTs" >其他信息</button>
        </div>
    </div>
</div>





</div>
    <div class="layui-container" id="con">
        <div class="layui-row">
            <div class="layui-col-md8" id="main">
                <div class="layui-col-md4">
                <div class="bg">
                    <img src="/images/jk1.png" width="30px" height="30px"/>
                    <div>正在监控人数</div>
                </div>
                    <div class="bg" id="jgjb">
                      <div>
                            <img src="/images/pg.png" width="30px" height="30px">
                        </div>
                        <div>
                            <img src="/images/kg.png" width="30px" height="30px">
                        </div>
                        <div>
                            <img src="/images/yg.png" width="30px" height="30px">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                <div class="bg">
                    <img src="/images/jzry.png" width="30px" height="30px">
                    <div>正在执行矫正人数</div>
                </div>
                    <div class="bg" id="peozt">状态做个统计</div>
                </div>
                <div class="layui-col-md4">
                <div class="bg">
                    <img src="/images/khtg.png" width="30px" height="30px"/>
                <div>    考核通过人数百分比</div>
                </div>
                    <div class="bg">考核通过统计</div>
                </div>
            </div>
            <div class="layui-col-md4" id="other">
                <div id="rinfo">

                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">公告管理</li>
                            <li onclick="showLog()">日志记录</li>
                            <li>活动区域</li>
                            <li> <i class="hideTs layui-icon  layui-icon-spread-left">&#xe66b;</i></li>
                        </ul>
                        <div class="layui-tab-content" style="height:500px; width:400px; overflow: auto;" >
                            <div class="layui-tab-item layui-show">

                                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                    <legend>公告信息:</legend>
                                </fieldset>

                                <ul class="layui-timeline">
                                    <li class="layui-timeline-item"  th:each="it:${announcements}">
                                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                        <div class="layui-timeline-content layui-text">
                                            <div class="layui-timeline-title" th:text="${it.title}">
                                            </div>
                                            <span th:text="${it.putdate}">
                                            </span><span class="rname">发布人:李四</span>
                                        </div>
                                    </li>
                                    <li class="layui-timeline-item">
                                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                        <div class="layui-timeline-content layui-text">
                                            <div class="layui-timeline-title">结束</div>
                                        </div>
                                    </li>

                                </ul>


                            </div>
                            <div  class="layui-tab-item" >
                                <table id="log"  th:fragment="log_refresh"  lay-size="sm"  class="layui-table" lay-even="" lay-skin="nob">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>时间</th>
                                        <th>手机号</th>
                                        <th>具体操作</th>
                                    </tr>
                                    <tbody th:each="it : ${logInfo}">
                                        <tr>
                                            <td th:text="${it.ename}" ></td>
                                            <td th:text="${it.ldate}"></td>
                                            <td th:text="${it.phone}"></td>
                                            <input type="hidden" th:value="${it.context}"/>
                                            <td><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="showDetils(this)">详细信息</button></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="layui-tab-item">3</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">



        //加载日志信息
        function showLog()
        {
            $('#log').load("logInfo/query");
        }
        //显示日志的内容
        function showDetils(obj){
            var t=$(obj).parent().prev().val();

            layui.use('layer', function(){
                var layer = layui.layer;

                layer.open({
                    title: '操作信息'
                    ,content: t
                });
            });
        }
    </script>
    <script type="text/javascript">
        //条件查询
        $("#tj").keyup(function () {
            var name=$("#tj").val();
            $('#table_refresh').load("query?name="+name);
            //$.post("query?name="+name)
        })
    </script>
    <script type="text/javascript">
        //分页
        function page(obj){
            var Num=obj;
            $('#table_refresh').load("query?Num="+Num);
            //window.location.href="query?Num="+Num;
        };
    </script>
</body>
</html>