<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="css/layui.css">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/layui.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>


</head>


<style type="text/css">
    #con{
        margin-left:50px;
        margin-top:40px;
        position: relative;
    }
    #info{
        position: relative;
        top:8px;
        left:80px;
    }
</style>

<body>

</div>
    <div class="layui-container" id="con">
        <div class="layui-row">
            <div class="layui-col-md9">
                <form action="" method="post">
                    <fieldset class="layui-elem-field">
                        <legend>矫正人员基本信息</legend>
                        <div class="layui-field-box">
                    <table class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>执行类别</th>
                            <th>监管级别</th>
                            <th>入矫日期</th>
                            <th>矫正截止</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody th:each="it :${PageInfo}">
                            <tr th:each="item :${it.list}">
                            <td th:text="${item.rname}"></td>
                            <td th:text="${item.sex}"></td>
                            <td th:text="${item.pcname}"></td>
                            <td th:text="${item.rgname}"></td>
                            <td th:text="${item.inAffair}"></td>
                            <td th:text="${item.endDate}"></td>
                            <td th:text="${item.fname}"></td>
                            </tr>
                        </tbody>
                    </table>
                            <input type="button" value="首页"  	class="layui-btn layui-btn-primary"/>
                            <input type="button" value="上一页"  class="layui-btn layui-btn-primary"/>
                            <input type="button" value="下一页"  class="layui-btn layui-btn-primary"/>
                            <input type="button" value="末页"  	class="layui-btn layui-btn-primary"/>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="layui-col-md3">


            </div>
        </div>
        <div class="layui-col-md3">1</div>
        <div class="layui-col-md3">2</div>
        <div class="layui-col-md3">3</div>
    </div>



</body>
</html>