<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/css/layui.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <style type="text/css">


        #sp{
            border: 1px solid red;

            display: block;
            width: 100px;
            height: 130px;
            float: left;
        }
        #info1{
            border: 1px solid red;
            width: 300px;
            float: left;
            height: 130px;

        }
        #info2{
            border: 1px solid red;
            width: 300px;
            float: left;
            height: 130px;
        }
    </style>
</head>

   <table>
       <tr id="tr1">
               <div id="sp">
                    <img src="Emp1.jpg" width="60" height="120">
               </div>
               <div id="info1">

                   <div>出生日期:</div>
                   <div>判决书号:</div>
                   <div>原判日期:</div>
                   <div>执行类别:</div>
                   <div>居住地址:</div>
                   <div>犯罪事实:</div>
               </div>
           <div id="info2">
               <div>入矫日期</div>
               <div>罪名</div>
               <div>附加刑</div>
               <div>矫正期限</div>
               <div>户籍地址</div>
           </div>
       </tr>
   </table>

<!--<div class="ui circular labels" style="float: right;">
    <a class="ui label">当前第 ${pageInfo.pageNum }页,总${pageInfo.pages }
        页,总 ${pageInfo.total } 条记录</a>
    <a class="ui label" href="info?pn=1">首页</a>
    <c:if test="${pageInfo.hasPreviousPage }">
        <a class="ui label" href="info?pn=${pageInfo.pageNum-1 }">&laquo;</a>
    </c:if>

    <c:forEach items="${pageInfo.navigatepageNums }" var="page_Num">
        <c:if test="${page_Num == pageInfo.pageNum }">
            <a class="ui label" href="info?pn=${page_Num}">${page_Num}</a>
        </c:if>
        <c:if test="${page_Num != pageInfo.pageNum }">
            <a class="ui label" href="info?pn=${page_Num}">${page_Num }</a>
        </c:if>
    </c:forEach>

    <c:if test="${pageInfo.hasNextPage }">
        <a class="ui label" href="info?pn=${pageInfo.pageNum+1 }">&raquo;</a>
    </c:if>
    <a class="ui label" href="info?pn=${pageInfo.pages}">末页</a>
</div>-->
<!-- 分页 end-->


</body>
</html>